@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

.app-container {
  .is-column {
    width: 200px;
  }

  .is-item {
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #f00;
    object-fit: cover;
    > img {
      width: 100%;
      height: 100%;
    }
  }

  .is-body {
    padding: 20px;
    background: #fff;
    width: 50%;
    min-width: 320px;
    margin: 0 auto;

    text-align: center;
  }
}
